html {
    background-color: white;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: auto;
    background-color: #EBEBEB;
    max-width: 1280px;
    min-height: 100vh;
}

header {
    background-color: #458CB1;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 80px;
}

header h1 {
    color: #EBEBEB;
    background-color: #545454;
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
    font-weight: 500;
}

header a {
    align-items: flex-end;
    margin: 5px;
    padding: 5px;
    color: #EBEBEB;
    border-radius: 3px;
    text-decoration: none;
}

header a:target {
    background-color: #545454;
}

header a:hover {
    background-color: #545454;
}

header nav {
    margin: 10px;
}

#login {
    margin-top: 15vh;
    margin-left: auto;
    margin-right: auto;
    background-color: #458CB1;
    width: 350px;
    height: 250px;
    display: flex;
    flex-direction: column; 
    border-radius: 3px;
    text-align: center;
}

#login-input {
    display: flex;
    flex-direction: column;
    margin: auto;
}

#login-input input {
    margin: 15px;
}

#login p {
    text-align: center;
    margin-top: 0;
    height: 25px;
    background-color: #545454;
    color: #EBEBEB;
}

#input-window {
    width: 650px;
    height: 400px;
    margin: auto;
    margin-top: 10vh;
    background-color: #458CB1;
}

@media only screen and (max-width: 660px) {
    #input-window {
        max-width: 95%;
    }
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 60px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

form input {
    margin: 10px;
    width: 150px;
}


#input-window p {
    text-align: center;
    margin-top: 0;
    height: 25px;
    background-color: #545454;
    color: #EBEBEB;
}

#table {
    background-color: #458CB1;
    margin: 40px;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
}

table a {
    text-decoration: none;
    color: red;
}

table td {
    background-color: #545454;
    color: #EBEBEB;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: #458CB1;
    width: 1280px;
    height: 30px;
}